.App {
  text-align: center;
}
.Header {
  font-family: 'Gugi';font-size: 22px;
  font-size: 60px;
  color: black;

}
h1:hover {
  color: rgb(123, 161, 243);
  transition: 3s;

}





/* write your parent styles in here for your App.js */
